[submodule "PaddleOCR2Pytorch"]
    path = PaddleOCR2Pytorch
    url = https://github.com/Huong19041998/RAG.git

[submodule "pgvector"]
    path = pgvector
    url = https://github.com/Huong19041998/RAG.git
